.imgLiquidFill{
    img {
        display: none;
    }
}

.bg-img{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -1;
    background-position: center center;
    background-size: cover;
}

.lucky-draw-prize-box{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    &.un-focus{
        opacity: 0.1;
        height: 10px;
        overflow: hidden;
    }
    .prize-header{
        display: flex;
        flex: 1;
        .prize-title{
            font-weight: 900;
            font-size: 28px;
            padding: 5px;
        }
        .prize-button{
            padding: 5px;
        }
    }
    .prize-description{
        width: 100%;
        font-size: 20px;
        color: #fff;
        background: #900;
        padding: 5px;
        border-radius: 4px;
    }
    .prize-draw-content{
        .card-box{
            display: inline-block;
            width: 100px;
            height: 100px;
            margin: 5px;
            border-radius: 5px;
            overflow: hidden;
            .card-box-wrapper{
                width: 100%;
                height: 100%;
            }
            &.empty{
                position: relative;
                font-size: 40px;
                .card-box-wrapper{
                    &:after{
                        content: "?";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 100%;
                    }
                }
            }
        }
    }
    .mask-wrapper{
        position: absolute;
        background: #fff;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        .icon{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
        }
    }

    &.mask{
        cursor: pointer;
        .content-wrapper{
            opacity: 0.1;
        }
        .mask-wrapper{
            opacity: 0.9;
            border: 1px solid #f0f0f0;
            border-radius: 4px;
            box-shadow: 0px 0px 10px #ccc;
        }
    }
}


.card-list-modal{
    .edit-card-box{
        .preview-card-img{
            margin: 5px 0px;
            width: 60px;
            height: 60px;
            border-radius: 4px;
            background: #ccc;
        }
    }
}



.navbar {
    .navbar-collapse {
        .nav-item {
            cursor: pointer;
        }
    }
}

@mixin transition {
    transition: all 0.01s;
}


@media (min-width: 755px) {
    .navbar {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0%;
                        height: 1px;
                        background: #eee;
                        transition: all 0.2s;
                    }

                    &.active {
                        &:after {
                            width: 90%;
                        }
                    }

                    &:hover {
                        &:after {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }
}